// utils
@import 'utils/variables';
@import 'utils/mixins';

// base
@import 'base/base';
@import 'base/typography';

// layout
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/container';

// components
@import 'components/buttons';
@import 'components/cards';
@import 'components/badges';
@import 'components/carousel';
@import 'components/breadcrumbs';
@import 'components/forms';
@import 'components/rating';

// pages
@import 'pages/home';
@import 'pages/login';
@import 'pages/products';
