.top-header {
    width: 100%;
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: $font-size-footer;

    .container-80 {
        width: $container-width;
        max-width: $container-max-width;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0.5rem 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .col-start,
    .col-center,
    .col-end {
        flex: 1 1 33.33%;
    }

    .col-start {
        text-align: start;
    }

    .col-center {
        text-align: center;
    }

    .col-end {
        text-align: end;
    }

    @include media-max(767.98px) {
        .row {
            flex-direction: column;
            text-align: center;
        }

        .col-start,
        .col-center,
        .col-end {
            flex: 1 1 100%;
            margin-bottom: 0.25rem;
            text-align: center !important;
        }
    }
}