.section-header {
    margin: 3rem 0;

    .section-header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .section-header__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }

    .section-header__link {
        color: $color-hover;
        text-decoration: none;
        font-weight: 500;

        &:hover,
        &:focus {
            text-decoration: underline;
            outline: none;
        }
    }
}