.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
    background-color: transparent;

    .breadcrumb-item {
        font-size: 0.95rem;

        a {
            text-decoration: none;
            color: $color-hover;

            &:hover {
                text-decoration: underline;
            }
        }

        &::after {
            padding: 0 0.5rem;
            color: #6c757d;
        }

        &:last-child {
            a {
                color: #6c757d;
                cursor: default;
            }

            &::after {
                content: "";
            }
        }
    }
}