.login-btn {
  background: $color-hover;
  border: none;
  border-radius: 24px;
  padding: 10px 36px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  transition: background 0.2s;

  &:hover {
    background: $color-hover;
    color: #fff;
  }
}

.btn-custom {
  font-size: 0.875rem;
  font-family: $font-family;
  padding: 0.375rem 0.75rem;
  width: 100%;
  border: 1px solid $color-hover;
  background-color: transparent;
  color: $color-hover;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $color-hover;
    color: $color-primary-text-boton;
  }
}