.form-label {
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.forgot-link {
    color: #1667f6;
    text-decoration: none;
    font-size: 0.98rem;
    margin-left: 18px;
    transition: color 0.2s;

    &:hover {
        color: #004bcc;
        text-decoration: underline;
    }
}